SECRET_KEY=troque-esta-chave-em-producao
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,seu-dominio.com
WHATSAPP_NUMERO=5583912345678
NOME_LOJA=Crochê e Ateliê de Luxo
INSTAGRAM_URL=https://www.instagram.com/seu-usuario
DJANGO_SUPERUSER_PASSWORD=admin123

# MySQL (Docker Compose)
DB_ENGINE=django.db.backends.mysql
DB_NAME=panoslar
DB_USER=panoslar
DB_PASSWORD=panoslar123
DB_HOST=db
DB_PORT=3306
MYSQL_ROOT_PASSWORD=rootpass
